/*header y navbar*/
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000E29;
  height: 90px;
  margin-bottom: -60px;
}

.header_item {
  float: right;
}

.header_link {
  display: block;
  color: #979DAC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Garamond;
  font-size: 200%;
  padding-top: 30%;
}


.active {
  color: #AD9F71;
}

.logo{
  max-width: 90px;
  max-height: 90px;
  float: left;
  padding-left: 2%;
}
/*titulo y eslogan*/
.background_intro{
  background-image: url("img/estrellas.jpg");
  background-size: cover;
   height: 80%;
   width: auto;
   margin-left: -10px;
   margin-right: -10px;
}

.h1_title{
  font-size: 500%;
  color: #AD9F71;
  font-family: Garamond;
  padding-top: 20%;
}

.text_title{
  font-size: 200%;
  color: #AD9F71;
  font-family: Garamond;
  padding-bottom: 20%;
}

/*Misión y visión*/
.titulo_mv{
  font-family: Garamond;
  color: #BBC0C9;
  font-size: 300%;
}

.text_mv{
  font-family: Garamond;
  font-size: 130%;
  color: #BBC0C9;
}
.column {
  float: left;
  width: 35%;
  padding-left: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*filosofía*/

.img_filo {
  flex: 50%;
  max-width: 45%;
  padding: 0 4px;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .img_filo {
    flex: 50%;
    max-width: 50%;
  }
}

.contenedor{
  position: relative;
}

.filo_box{
  position: absolute;
  background-color: #5C677D;
  opacity: 0.9;
  color: black;
  height: 55%;
  width: 50%;
  display: inline-block;
  text-align: center;
  top: 20%;
  left: 25%;
  text-shadow: #1B1D22;
}

.filo_title{
font-size: 300%;
font-family: Garamond;
color: #1B1D22;
}

.filo_text{
  font-size: 130%;
  font-family: Garamond;
  color: #1B1D22;
  opacity: 100;
}

.filo_box > img{
    display: block;
}

@media screen and (max-width: 800px) {
  .filo_box{
    flex: 50%;
    max-width: 50%;
  }
}
/*Texto e img objetivo*/
.imgVal{
  width: 50%;
  height: auto;
}
.textVal{
  font-family: Garamond;
  font-size: 130%;
  color: #BBC0C9;
  margin-left: -30%;
}

.txtObj{
  font-family: Garamond;
  font-size: 130%;
  color: #BBC0C9;
  margin-left: 1%;
}

/*Valores*/
.textVal1{
  font-family: Garamond;
  font-size: 150%;
  text-align: center;
  color: #BBC0C9;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}

.grid-title{
  font-size: 150%;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  color: #BBC0C9;
}

.grid-text{
  font-size: 100%;
  font-family: Garamond;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  color: #BBC0C9;
}

i {
  background: #9B8C59;
  border-radius: 10%;
  font-size: 10%;
  text-align: center;
  border-radius: 50%;
  display:inline-block;
  padding: 7%;
}

.icon {
  display:block;
  width: 50px;
  height: auto;
}
